* {
    margin: 0;
    padding: 0;
    outline: 0;
}
  
ol, ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none !important;
    
}

img {
    border: 0px;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address {
    margin-top: 0px;
    margin-bottom: 0px;
}
.dark {
    background: #30363d;
    color: aliceblue;
}
.dark .card{
    color: black;
}
.dark .blog h4, .dark .blog p, .dark .blog ul{
    color: black;
}

.navbar-nav a{
    margin: 0 5px;
    padding: 0.2rem 1rem;
}


/*-- Mobile device-- */
@media only screen and (max-width:688px) {
    .navbar-nav a {
        margin: 10px 5px ;
        padding: 0.4rem 1rem ;
    }
    .navbar-nav button{
        margin: 10px 5px !important;
        padding: 0.4rem 1rem;
    }
    .card{
        margin-top: 20px;
    }
    .card img{
        height: 250px !important;
    }
    .card-body button{
        width: 100%;
        margin: 10px 5px;
    }
}

@media only screen and (min-width:688px) and (max-width:992px){
    
}